<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% if(!id){ %>
            <% users.forEach(function(user) { %>
            <li>
                <strong><%= user.id %></strong>
                <strong><%= user.name %></strong>
            </li>
            <% }); %>
        <% } else if(id){ %>
            <% users.forEach(function(user) { %>
                <% if(id == user.id && user.age > 18){ %>
                    <li>
                        <strong><%= user.id %></strong>
                        <strong><%= user.name %></strong>
                    </li>
                <% } else if(id == user.id && user.age < 18){ %>
                    <h1> Access Denied ! Under 18 </h1>
                <% } %>
            <% }); %>
        <% } %>

      </ul>
</body>
</html>